
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Single</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //custom-theme -->
    <link href="~/Scripts/GoShoes/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Scripts/GoShoes/css/shop.css" type="text/css" media="screen" property="" />
    <link href="~/Scripts/GoShoes/css/style7.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Scripts/GoShoes/css/flexslider.css" type="text/css" media="screen" />
    <link href="~/Scripts/GoShoes/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!-- Owl-carousel-CSS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/GoShoes/css/jquery-ui1.css">
    <link href="~/Scripts/GoShoes/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="~/Scripts/GoShoes/css/font-awesome.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- //font-awesome-icons -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>

    <div class="mid_slider_w3lsagile">
        <div class="col-md-3 mid_slider_text">
            <h5>更 多 鞋</h5>
        </div>
        <div class="col-md-9 mid_slider_info">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g5.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g6.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Scripts/GoShoes/images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!-- The Modal -->

            </div>
        </div>

        <div class="clearfix"> </div>
    </div>

    <!-- footer -->
    <div class="footer_agileinfo_w3">
        <div class="footer_inner_info_w3ls_agileits">
            <div class="col-md-3 footer-left">
                <h2><a href="/index/index"><span>D</span>我们的鞋 </a></h2>
                <p>Nike 安踏 匹克 乔丹 特步 361°  只要你想得到的 我们这都有.</p>
                <ul class="social-nav model-3d-0 footer-social social two">
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>GoShoes <span>的信息</span> </h4>
                        <ul>
                            <li><a href="/index/index">主页</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li><a href="/notfound/notfound">服务</a></li>
                            <li><a href="/notfound/notfound">404页面</a></li>
                            <li><a href="/contact/contact">联系我们</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 sign-gd-two">
                        <h4>GoShoes <span>咨询</span></h4>
                        <div class="address">
                            <div class="address-grid">
                                <div class="address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="address-right">
                                    <h6>联系电话</h6>
                                    <p>+1 234 567 8901</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="address-grid">
                                <div class="address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="address-right">
                                    <h6>电子邮件</h6>
                                    <p>Email :<a href="mailto:example@email.com"> mail@xxxx.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="address-grid">
                                <div class="address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="address-right">
                                    <h6>GoShoes地址</h6>
                                    <p>
                                        XXXXXXX

                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sign-gd flickr-post">
                        <h4>用户 <span>分享</span></h4>
                        <ul>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg01.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg02.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg03.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg04.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg05.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg06.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg07.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg08.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="/single/single"><img src="~/Scripts/GoShoes/images/testImg09.jpg" alt=" " class="img-responsive" /></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <p class="copy-right-w3ls-agileits">Copyright &copy; 2018<a href="#" target="_blank" title="GoShoes">GoShoes</a> - Collect from <a href="#" title="我们的鞋" target="_blank">我们的鞋</a></p>
        </div>
    </div>
    </div>
    <!-- //footer -->
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- js -->
    <script type="text/javascript" src="~/Scripts/GoShoes/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- cart-js -->
    <script src="~/Scripts/GoShoes/js/minicart.js"></script>
    <script>

    </script>
    <!-- //cart-js -->
    <!-- /nav -->
    <script src="~/Scripts/GoShoes/js/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/GoShoes/js/classie.js"></script>
    <script src="~/Scripts/GoShoes/js/demo1.js"></script>
    <!-- //nav -->
    <!-- single -->
    <script src="~/Scripts/GoShoes/js/imagezoom.js"></script>
    <!-- single -->
    <!-- script for responsive tabs -->
    <script src="~/Scripts/GoShoes/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });

            //添加到购物车
            $("#btn_add").click(function () {
                var shoesPrice = $("#shoesPrice").html().split("$")[1];
                var shoesName = $("#shoesName").text();


                var shoesNum = $("#shoesNum").val();

                var shoesImg = "~" + $("#shoesImg").attr("src");
                var datas = {};
                datas.shoesPrice = shoesPrice;
                datas.shoesName = shoesName;
                datas.shoesNum = shoesNum;
                datas.shoesImg = shoesImg;

                $.ajax({
                    url: "/single/CreateCar",
                    type: "post",
                    dataType: "json",
                    data: $.param(datas),
                    success: function (d) {
                        alert(d.msg)

                    }
                });//ajax




            });


        });
    </script>
    <script>

    </script>
    <!-- FlexSlider -->
    <script src="~/Scripts/GoShoes/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!--search-bar-->
    <script src="~/Scripts/GoShoes/js/search.js"></script>
    <!--//search-bar-->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/GoShoes/js/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/GoShoes/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/GoShoes/js/bootstrap-3.1.1.min.js"></script>


</body>

</html>