
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Letter - Simple Sign Up Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="~/Scripts/loginCss/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Scripts/loginCss/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Scripts/loginCss/css/demo.css" />
    <link rel="stylesheet" href="~/Scripts/loginCss/css/templatemo-style.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="~/Scripts/loginCss/js/modernizr.custom.86080.js"></script>
    <style type="text/css">
        #btn_ok {
            margin-left: 20px;
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div id="particles-js"></div>

    <ul class="cb-slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container-fluid">
        <div class="row cb-slideshow-text-container ">
            <div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
                <header class="mb-5"><h1>欢迎来到GoShoes</h1></header>
                <P class="mb-5">
                    请先登陆！
                </P>

                <form id="my_form" action="#" method="get" class="subscribe-form">
                    <div class="row form-section">

                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <input name="email" type="text" class="form-control" id="user_name" placeholder="请输入账号..." required />
                            <input name="email" type="password" class="form-control" id="user_pwd" placeholder="请输入密码..." required />
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <span class="label label-warning">没有账号？</span>
                            <button type="button" class="btn btn-primary">注册</button>
                        </div>

                        <div>
                            <button type="button" id="btn_ok" class="tm-btn-subscribe">确定</button>
                        </div>
                    </div>

                </form>

                <div class="tm-social-icons-container text-xs-center">
                    <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
                </div>

            </div>
        </div>
        <div class="footer-link">
            <p>
                Copyright © 2018 Your Company
                - Design: <a rel="nofollow" href="#" target="_parent">Templatemo</a>
            </p>
        </div>
    </div>
    <script>
        $(function () {
            //登陆按钮
            $("#btn_ok").click(function () {
                var name = $("#user_name").val();
                var pwd = $("#user_pwd").val();
                if (name == "" || pwd == "") {
                    alert("用户名或密码不能为空!");
                } else {
                    $.ajax({
                        url: "/login/loginIsOk",
                        type: "post",
                        dataType: "json",
                        data: { name: name, pwd: pwd },
                        success: function (d) {
                            alert(d.msg);
                        }
                    });//ajax
                }//else

            });

        })
    </script>
</body>

<script type="text/javascript" src="~/Scripts/loginCss/js/particles.js"></script>
<script type="text/javascript" src="~/Scripts/loginCss/js/app.js"></script>
</html>
